@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@200;300;400;600;700&display=swap');
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#1f0909;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,-1);
}
*{
    font-family: "Nunito", sans-serif;
    margin: 0;padding: 0; 
    box-sizing: border box
    ;
    text-decoration: none;
    outline: none;border: none;
    text-transform:capitalize;
    transition: all .2s linear;

}
html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}


section:nth-child(even){
    background: #fff;
}
header{
    position: fixed;
    top:0;left:0;right:0;
    background: #e0f8c9;
    padding: 1rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color:#27ae60;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;

}
header .logo i{
    color:#192a56;
    font-size: 2rem;
    font-weight: bold;
}



header a .logo i .fas fa-utensils{
    color: hsl(145, 94%, 28%);
    font-size: 210%;
    border-radius: 70%;
    background-color: #1f0909;

}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .3rem;
    padding: 15px 20px;
    color:var(--light-color);
    text-align: center;
   

}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
    background-size: 150%;
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background-color: #eee;
    
}
header .icons i:hover,
header .icons a:hover{
    color:#27ae60;
    background:#fff;
    transform:rotate(360deg);

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    background:linear-gradient(0deg, rgba(34,195,177,1) 32%, rgba(111,205,59,1) 100%);
    border-radius: 1rem;
    cursor: pointer;
    padding: .5rem 1.5rem;
}

.btn:hover{
    background: repeating-linear-gradient(45deg, #00bfff, #e6e6fa 50px);
    letter-spacing: .1rem;
    color: black;
}

header .icons #menu-bars{
    display:none;
}
#search-form{
    position:fixed;
    top:-110%;left:0;
    height:100%;width:100%;
    z-index:1004;
    background: #635f5fa4;
    
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 1rem;
}
#search-form.active{
    top:0;
}
#search-form #search-box{
    width:30rem;
    background: none;
    border-bottom: .1rem solid #079135;
    padding: 1rem 1rem;
    color:#fff;
    font-size: 3rem;
    text-transform: none

}

#search-form #search-box::placeholder{
    color:#fff;
}
#search-form #search-box::-webkit-search-cancel-button{
     -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor:pointer;
    font-size:3rem;
}
#search-form label:hover{
    color:green;
}
#search-form #closed{
    position: absolute;
    color:#fff;
    cursor:pointer;
    top:2rem;
    right:3rem;
    font-size:3rem;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
     padding-top: 9rem;
     
     
}

.home .home-slider .content{
    flex: 1 1  45rem;
    padding-left: 7rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
    
}
.home .home-slider .slide .image img{
    height:550px;
    width:650px;
   
}
.wrapper .slide .content{
    width: 70%;
}

.home .home-slider .slide .content span{
    color: #c26d13;
    font-size: 2.5rem;
}
.home .home-slider .slide .content h1{
    color: var(--black);
    font-size: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 1.2rem;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:#27ae60;
   
}
.dishes{
    padding-top:6rem ;
}


.box{
    margin-left: 2rem;
    padding-top:6rem;
    padding-bottom: 6rem;
    
}
.sub-heading{
  text-align: center;
  font-size: 2rem;
  color: #27ae60;
  padding-top: 1rem;
  background: #e0f8c9;
}
.heading{
    text-align: center;
  font-size: 2rem;
  color: black;
  padding-top : 1rem;
  padding-bottom: 2rem;
  background: #e0f8c9;
}
.box span, .box h3{
    color: #27ae60;
    font-size: 1.8rem;
}
.dishes{
    background:#e0f8c9;
}
.stars{
    color: #192a56;
    font-size: 1.2rem;
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.dishes .box-container .box{
    padding: 3rem;
    background:#e0f8c9;
    border-radius: 8rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.272), 0 6px 20px 0 rgba(0, 0, 0, 0.272);
    overflow: hidden;
    text-align: center;
}




    

.box img{
    padding-bottom: 2rem;
   max-height: 190px;
   max-width: 190px;
}

.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;

   
    height: 3rem;
    width: 3rem;
   
    font-size: 2rem;
    color: var(--black);
    right: -15rem;

}
.dishes .box-container .box .fa-heart{
    position: absolute;
    top: 0.26rem;
  height: 3rem;
    width: 3rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    left: -15rem;


}
.dishes .box-container .box .fa-eye:hover,
.dishes .box-container .box .fa-heart:hover{
   color:#27ae60;;
}
.dishes .box-container .box:hover .fa-eye{
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-heart{
    left: 1.5rem;
}
.about{
    padding-top: 10rem;
}
.content h3{
    color: #192a56;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;

 
   
}

.about .row .content{
    flex: 1 1 45rem;
}
h3{
    font-weight: bold;
}
h4{
    font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.content p{
    padding-top: 1rem;
    color:var(--light-color);
    font-size : 1.3rem;
    padding:.5rem 0;
    width:90%;
    line-height:2rem;
}
.icons{
    padding: 1rem;
}
.icons-container i{
    color:#192a56;
    font-size: 2rem;
}
.icons-container .icons span{
    font-weight: bolder;
    font-size: 1.6rem;
}
.menu{
    padding-top: 10rem;
}
.menu .box-container {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(28rem,1fr)) ;
    gap:7.4rem;
    background:#b2b4b0;
    color: #e0f8c9;
    padding-top: 2.5rem;
    
}
.box img{
    padding-top: 2rem;
   max-height: 270px;
   max-width: 230px;
}
.menu .box-container .box{
    padding: 2.5rem;
    background-color: #e0f8c9;
    border-radius: 1rem solid #fff ;
   
    box-shadow: var(--box-shadow);
    position: relative;
    overflow:hidden;
    text-align: center;
    width:255px;
    margin-left: 5rem;
    height: 370px;

}


.menu .box-container .box .fa-heart{
    position: absolute;
    top: 0.26rem;
    
    
    height: 3rem;
    width: 3rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    left: -15rem;

}
.menu h3{
    color: #27ae60;
}

.menu.box-container .box .fa-heart:hover{
   color:#27ae60;;
}


.menu .box-container .box:hover .fa-heart{
    left: 1.5rem;
}
.menu .box-container .box .content{
    padding-top: .2rem;
}
.review{
    margin-left: 10rem;
    margin-right: 10rem;
}
.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0,0,0,2);
    border-radius: .5rem;
    position: relative;
    width:100px;

   
}
.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;right: 2rem;
    font-size: 6rem;
    color: #27ae60;
}
.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: end;
    padding-bottom: 1.5rem;

}
.review .sub-heading{
    padding-top: 10rem;

}
.review .slide .user img{
    height: 7rem;
    width: 7rem ;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size:2rem;
    padding-bottom: .5rem;
   
}


.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}
.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}
.order{
    padding-top: 10rem;
}
.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,2);
    background:#eee;
    padding: 1.7rem;
    margin:0 auto;
    margin-top: 5rem;
    padding-right: 5rem;

}
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.order form .inputBox .input{
    width:45%;
}
.order form .inputBox .input span{
    display:block;
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--light-color);

}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#fff;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.9rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;


}
.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;

}

.order form .inputBox .btn{
    margin-top: 0;
}
.footer{
   
    padding-top: 10rem;
}
.footer .box-container{
    background:  #e0f8c9;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    gap:2rem;
}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.2rem;
    color: var(--black);
}


.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.9rem;
    color: var(--light-color);
}
.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .credit span{
    color: var(--green);

}
#loader{
    position: fixed;
    top: 0;left:0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#loader img{
    width: 40rem;
}

#web{
    display: none;
}

































































@media (max-width:990px){
    html{
        font-size: 55%;
    }

header{
    padding: 1rem 2rem;
}
}

@media(max-width:600px){
    header .icons #menu-bars{
        display:inline-block;
    }  
header .navbar{
    position: absolute;
    top:100%;left:0;right: 0;
    background: #bffdd9;
    border-top: 1rem solid rgba(0,0,0,2);
    border-top: 1rem solid rgba(0,0,0,2);
    padding:1rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}
header .navbar a{
    display: block;
    padding:1.5rem;
    margin: 1rem;
    font-size:2rem;
    text-align: left;
    

}
#search-form #search-box{
    width: 70%;
    margin:0 1rem;
}

.image {
    margin-left: 6rem;
   
}
.wrapper, .image{
    padding-bottom: 4rem;
    
}
.home .home-slider .slide .image img{
    width:400px
}
.order form .inputBox .input{
    width:100%;
    padding-right: 5rem;
}
.order form{
    max-width: 40rem;
}
}



